In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
# note: when there is a % it is not really python, in this example we tell the system not to open another window when doing 
# matplotlib

****** EDA & Data Cleaning ******

*** Loading the Dataset ***

In [7]:
df_demo = pd.read_csv('df_final_demo.txt', delimiter=',') 
df_exp_clients = pd.read_csv('df_final_experiment_clients.txt', delimiter=',')
df_data_pt_1 = pd.read_csv('df_final_web_data_pt_1.txt', delimiter=',')
df_data_pt_2 = pd.read_csv('df_final_web_data_pt_2.txt')

*** Initial exploration ***

In [13]:
# Function to analyse the four data files and see how to merge them before clean up

def first_analysis(dataf):
    display(dataf.head())
    display(dataf.columns)
    display(f'shape: {dataf.shape}')
    display(dataf.dtypes)

In [15]:
first_analysis(df_demo)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

'shape: (70609, 9)'

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [16]:
first_analysis(df_exp_clients)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

Index(['client_id', 'Variation'], dtype='object')

'shape: (70609, 2)'

client_id     int64
Variation    object
dtype: object

In [17]:
first_analysis(df_data_pt_1)
first_analysis(df_data_pt_2)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

'shape: (343141, 5)'

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

'shape: (412264, 5)'

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [ ]:
*** Exploring numerical and categorical variables ***

In [ ]:
# A to merge the two first files on client_id, and check the data (nulls, columns...) => to remove the 'useless columns'
# B to concat the two last files on top of each other and check for duplicates... before organising the categories

*** Data Cleaning *** 
Checking for null values or columns to drop, A & B

*** Univariate Analysis ***
** Categorical Variables **
* Frequency Tables *

* Visualisation * (Bar charts, countplots, piecharts)

** Numerical Variables **
* Summary Statistics - Centrality and Dispersion Measures *

* Shape of distribution *

* Visualisation * (histograms, histo all at once, boxplots)

In [ ]:
* Converting continuous to discrete variables: Discretization * (if needed)